@import "../abstracts/mixins";
@import "../abstracts/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
header {
  #product--head {
    width: 100%;
    height: auto;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    .container {
      width: 100%;
      height: 50px;
      background-color: #23856d;
      padding: 12px;
      color: #fff;
      text-align: center;

      .head-text {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .head-contact {
          display: flex;
          justify-content: center;
          gap: 20px;
          font-weight: 200;
        }
        .head_icons {
          display: flex;
          justify-content: center;
          text-align: center;
          i {
            margin-left: 5px;
            font-size: 15px;
          }
        }
      }
    }
  }

  #product-nav {
    width: 100%;
    height: auto;

    .container {
      width: 100%;
      height: 56px;
      .nav-text {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 82%;
        align-items: center;
        height: 50px;
        text-align: center;

        @include mobile {
          justify-content: space-between;
        }

        @include tablet {
          justify-content: space-between;
        }

        i {
          display: none;

          @include mobile {
            display: block;
            text-align: end;
            cursor: pointer;
          }

          @include tablet {
            display: block;
            text-align: end;
            cursor: pointer;
          }
        }
        ul {
          display: flex;
          gap: 30px;
          list-style: none;
          @include mobile {
            display: none;
          }

          @include tablet {
            display: none;
          }

          li {
            a {
              text-decoration: none;
              color: #737373;
            }
          }
        }

        .icons {
          span {
            cursor: pointer;
          }
          color: #23a6f0;

          i {
            cursor: pointer;
            margin-left: 20px;
          }

          @include mobile {
            display: none;
          }

          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}

main {
  #main--home {
    width: 100%;
    height: auto;
    background-color: #fafafa;
    .container {
      width: 37%;
      height: 50px;

      @media (max-width: 767px) {
        width: 100%;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
      }

      .main-text {
        height: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        .home {
          font-weight: 700;
          color: #252b42;
        }
        .right {
          color: #bdbdbd;
          margin-left: 10px;
        }
        .shop {
          color: #bdbdbd;
          margin-left: 10px;
        }
      }
    }
  }

  #main--slide {
    width: 100%;
    height: auto;
    background-color: #fafafa;
    .container {
      width: 71%;
      height: auto;
      display: flex;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 89%;
        flex-direction: column;
        align-items: center;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        width: 39%;
        flex-direction: column;
       
      }

      .left-side {
        width: 55%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media (max-width: 767px) {
          width: 100%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          width: 100%;
        }

        .slide_first {
          @media (max-width: 767px) {
            width: 351px;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            width: 351px;
          }

          img {
            object-fit: cover;
            border-radius: 5px;
            width: 506px;
            @include mobile {
              width: 348px;
              height: 279px;

              padding: 10px;
            }

            @include tablet {
              width: 348px;
              height: 277px;
            }
          }
          .slide-icons {
            position: relative;
            color: #fff;

            .left_icon {
              position: absolute;
              left: 15px;
              font-size: 59px;
              bottom: 141px;
              cursor: pointer;

              @media (max-width: 767px) {
                left: 25px;
                bottom: 98px;
              }

              @media (min-width: 768px) and (max-width: 991px) {
                left: 15px;
                bottom: 109px;
              }
            }
          }

          .right_icon {
            position: absolute;
            right: 110px;
            font-size: 59px;
            bottom: 141px;
            cursor: pointer;

            @media (max-width: 767px) {
              right: 23px;

              bottom: 100px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              right: 20px;
              bottom: 105px;
            }
          }

        
        }
      }
    }
    .small-img {
      display: flex;
      gap: 10px;
      @media (max-width: 767px) {
        padding: 10px;
      }
      img {
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .right-side {
      width: 45%;
      height: auto;
  
      @media (max-width: 767px) {
        width: 100%;
        margin-top: 15px;
      }
  
      @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
      }
  
      .right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 82%;
  
        @media (max-width: 767px) {
          justify-content: center;
          align-items: center;
        }
  
        @media (min-width: 768px) and (max-width: 991px) {
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
  
        h3 {
          margin-bottom: 3px;
          opacity: 0.7;
  
        
          @media (max-width: 767px) {
            margin-bottom: 15px;
          } 
          @media (min-width: 768px) and (max-width: 991px){
            margin-bottom: 11px;
          }

        }
  
        .rating {
          i {
            color: #f3cd03;

            @media (max-width: 767px){
              margin-bottom: 15px;
            }

            @media (min-width: 768px) and (max-width: 991px){
              margin-bottom: 15px;
            }
          }
          span {
            font-weight: 700;
            opacity: 0.7;
            color: #737373;
            font-size: 14px;
          }
        }
        .money_product {
          h3 {
            font-size: 24px;
            font-weight: 700;
          }
  
          h6 {
            font-weight: 700;
            font-size: 14px;
            color: #737373;
            display: inline-block;
            margin-bottom: 30px;
          }
          .stock {
            font-weight: 700;
            font-size: 14px;
            color: #23a6f0;
          }
        }
  
        p {
          font-weight: 400;
          color: #858585;
          font-size: 14px;
          margin-bottom: 30px;
  
          @media (max-width: 767px) {
            text-align: center;
          }
  
          @media (min-width: 768px) and (max-width: 991px) {
            text-align: center;
          }
        }
  
        .line {
          border: 1px solid #bdbdbd;
          width: 489px;
          background-color: #bdbdbd;
          margin-bottom: 20px;
  
          @media (max-width: 767px) {
            width: 326px;
          }
  
          @media (min-width: 768px) and (max-width: 991px) {
            width: 326px;
          }
        }
  
        .colors {
          display: flex;
          gap: 10px;
          margin-bottom: 30px;
          .blue {
            width: 30px;
            height: 30px;
            background-color: #23a6f0;
            border-radius: 50%;
          }
          .green {
            width: 30px;
            height: 30px;
            background-color: #2dc071;
            border-radius: 50%;
          }
          .orange {
            width: 30px;
            height: 30px;
            background-color: #e77c40;
            border-radius: 50%;
          }
          .black {
            width: 30px;
            height: 30px;
            background-color: #252b42;
            border-radius: 50%;
          }
        }
        .select_options {
          display: flex;
          align-items: center;
          gap: 20px;
  
          form {
            input {
              width: 148px;
              height: 44px;
              background-color: #23a6f0;
              border: 1px solid #23a6f0;
              border-radius: 5px;
              padding: 10px 30px;
              outline: none;
              color: #fff;
            }
          }
  
          .heart-icon {
            width: 40px;
            height: 40px;
            border: 1px solid #ee88ee;
            background-color: #fff;
            border-radius: 50%;
  
            img {
              width: 20px;
              height: 20px;
              margin: 9px;
            }
          }
        }
      }
    }

  }

  #info--head{
    width: 100%;
    height: auto;
    .container{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; 
      color:#737373;

      span{
        padding: 10px;
        color:#737373;
        font-size: 14px;
      }

      
    }

   .line{
    border: 1px solid #ECECEC;
    width: 1032px;
    margin: 0 auto;
    margin-top: -24px;
    @media (max-width: 767px){
      display: none;
    }
    @media (min-width: 768px) and (max-width: 991px){
      display: none;
    }

  }
  }

  #jumps--over{
    width: 100%;
    height: auto;
    .all{
        display: flex;
        justify-content: space-around;
        gap: 28px;
        padding: 30px;
        margin: 0 auto;

        @media (max-width:767px){
         
         
            
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @media (min-width:768px) and (max-width:991px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    .container{
        padding: 50px;
        margin: 0 auto;
        @media (max-width:767px){
            padding: 0px;
         
            
      
        }

        @media (min-width:768px) and (max-width:991px){
            padding: 0px;
        }
      .design_text{
       h1{
        margin-bottom: 25px;
       }
       p{
        opacity: 0.8;
        margin-bottom:35px
       }
       .line_text{
        position: relative;
        p{
            opacity: 0.8;
            margin-left: 20px;
           }
       .line{
        border-right: 3px solid green;
        height: 69px;
        width: 1px;
        position: absolute;
        top: -2px;
        left: 0px;
       
       }
    
       span{
        opacity: 0.8;
       }
      }
      }

      .room-page{
     
     
        img{
            width: 332px;
            height: 318px;
            border-radius: 4px;
            object-fit: cover;
            box-shadow: 3px 4px 0px 3px grey
        }
      }

    

    }
     
    }

    #bestseller-products{
    
        width: 100%;
        height: auto;
        background-color: $main-color;
        .container{
          width: 48%;
          height: 100px;
          padding-top: 22px;
          text-align: center;
          @media (max-width:767px){
            width: 100%;
            padding-top: 50px;
          }

          @media (min-width: 768px) and (max-width: 991px){
            width: 100%;
            padding-top: 50px;;
          }
          h2{
            font-weight: 700;
          }

    
          
        }
    
       .line{
        border: 1px solid #ECECEC;
        width: 1096px;
        margin: 0 auto;
        margin-top: 11px;
        @media (max-width: 767px){
          width: 357px;
          margin-top: 2px;
        }
        @media (min-width: 768px) and (max-width: 991px){
          width: 357px;
          margin-top: 2px;
        }
    
      }
      
    }

    #products--card {
      width: 100%;
      height: auto;
      background-color: $main-color;
      .container {
        padding: 86px;

        @media (max-width:767px){
          padding: 30px;
        }

        @media (min-width:768px) and (max-width:991px){
          padding: 19px;
        }
        
  
        .card--all {
            display: flex;
            justify-content: space-around;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
          .card {
            width: 19%;
            height: auto;
            background-color: #fff;
            line-height: 35px;

            @media (max-width:767px){
              width: 100%;
            }
            @media (min-width:768px) and (max-width:991px){
              width: 32%;
            }
            .card-img {
              width: 100%;
               height: auto;
              align-items: center;
              display: flex;
               margin: 0 auto;
  
              img{
                width: 100%;
                object-fit: cover;
              }
            }
  
            .card-body {
              text-align: center;
       
              h4 {
                font-weight: 700;
                color: #252b42;
                margin-bottom: 10px;
              }
              p {
                font-weight: 200;
                opacity: 0.5;
                font-size: 14px;
                margin-bottom: 10px;
              }
  
              .products_colors {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                gap: 5px;
  
                .blue {
                  width: 15px;
                  height: 15px;
                  border: 1px solid #23a6f0;
                  background-color: #23a6f0;
                  border-radius: 50%;
                }
                .green {
                  width: 15px;
                  height: 15px;
                  border: 1px solid green;
                  background-color: green;
                  border-radius: 50%;
                }
                .orange {
                  width: 15px;
                  height: 15px;
                  border: 1px solid orange;
                  background-color: orange;
                  border-radius: 50%;
                }
  
                .black {
                  width: 15px;
                  height: 15px;
                  border: 1px solid black;
                  background-color: black;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }

    #products--logo{
      width: 100%;
      height: auto;
      background-color: $main-color;
      .container{
        width: 100%;
        height: 100px;
        @media (max-width:767px){
          height: 408px;
        }
        @media (min-width:768px) and (max-width:991px){
          height: 450px;
        }
        .logo{
          display: flex;
          justify-content: space-evenly;
          @media (max-width:767px){
            display: flex;
         
            flex-direction: column;
            align-items: center;
            gap: 30px;
          }

          @media (min-width:768px) and (max-width:991px){
            display: flex;
         
            flex-direction: column;
            align-items: center;
            gap: 30px;
          }
          img{
            width: 149px;
            height: 50px;
          }
        }
      
      } 
    }

  }
  
footer{
  
  #contact--info{
    width: 100%;
    height: auto;
    
    padding-top: 22px;
    .container{
      width: 81%;
      height: 100px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .head-info{
        width: 50%;
      }
      @media (max-width:767px){
        width: 95%;
        height: 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      @media (min-width: 768px) and (max-width: 991px){
        width: 93%;
        height: 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }
      h2{
        font-weight: 700;
      }

      .icons_info{
        margin-right: 30px;
       display: flex;
        gap: 9px;
       }
       i{
        color:#23A6F0;
        cursor: pointer;
       }
      }

      .line{
        border: 1px solid #ECECEC;
        width: 1253px;
        margin: 0 auto;
        margin-top: 11px;
        @media (max-width: 767px){
         display: none;
        }
        @media (min-width: 768px) and (max-width: 991px){
         display: none;
        }
        
      }
    
    }

    #footer-contact{
      width: 100%;
      height: auto;
      margin-top: 20px;
      .container{
        width: 82%;
         margin: 0 auto;
        display: flex;
          justify-content: space-between;
          @media (max-width:767px){
            width: 94%;
        
            
            flex-direction: column;
          
          }

          @media (min-width: 768px) and (max-width: 991px){
            width: 94%;
        
            
            flex-direction: column;
          }
          .company{
            line-height: 24px;
              list-style: none;

            h5{
              font-size: 19px;

            }

            li{
              a{
                text-decoration: none;
              }
            }
          }

        
            .email_button {
              position: relative;
              h5{
                margin-bottom: 10px;
              }
              ul{
                list-style: none;
              }
              form {
                input {
                  width: 261px;
                  height: 56px;
                  border: 1px #E6E6E6 solid;
                  border-radius: 5px;
                  outline: none;
                  padding: 20px;
                  background-color: #F9F9F9;
                }
                button {
                  position: absolute;
                  top: 26px;
                  right: 0px;
                  width: 100px;
                  height: 56px;
                  border: 1px solid #23a6f0;
                  background-color: #23a6f0;
                  border-radius: 1px 4px 4px 1px;
                  color: #fff;
                  cursor: pointer;
               
              
            
                  &:hover{
                    transition: 1s;
                    background-color: #fff;
                    color: #23a6f0;
                  }
                }
              }
            }
          
      }
    }

    #footer-end{
      width: 100%;
      height: auto;
      padding-top: 20px;
      background-color: $main-color;
      .container{
        width: 83%;
        margin: 0 auto;
        @media (max-width:767px){
          text-align:center;
        }

        @media (min-width: 768px) and (max-width: 991px){
          text-align: center;
        }

       }

        p{
          font-size: 14px;
        }
      }
    }

  